
Bimbem App/bin/Debug/netcoreapp3.1/Bimbem App.dll
Bimbem App/bin/Debug/netcoreapp3.1/Bimbem App.exe
Bimbem App/bin/Debug/netcoreapp3.1/Bimbem App.pdb
Bimbem App/bin/Debug/netcoreapp3.1/Bimbem App.runtimeconfig.dev.json
